<ion-view>
	<ion-content class="padding fondo">
		<div class="row">
			<div class="col"></div>
		</div>
		<div class="row">
			<div class="col"></div>
		</div>
		<div class="row row-center">
			<a class="col col-offset-20 col-60" ui-sref="nombre">
				<img src="/img/NuevoT.png" class="col button button-outline">
			</a>
		</div>
		<div class="row">
			<div class="col"></div>
		</div>
		<div class="row">
			<div class="col"></div>
		</div>
		<div class="row">
			<div class="col"></div>
		</div>
		<div class="row">
			<div class="col"></div>
		</div>
		<div class="row row-bottom">
			<img src="/img/torneos.png" class="col col-offset-20 col-60 button button-outline">
		</div>
	</ion-content>
</ion-view>